/* 头部 */
header {
  width: 100%;
}

.head {
  background-color: #F6F6F6;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.head i {
  line-height: 50px;
  font-size: 20px;
}

.head i:last-child {
  margin-right: 20px;
}

.head span {
  margin-right: 20px;
  font-size: 17px;
}

.head .right {
  font-size: 30px;
}

.head .box1 {
  width: 120px;
  height: 120px;
  display: none;
  position: absolute;
  z-index: 8888;
}

.top {
  background-color: #69b513;
  height: 80px;
  width: 100%;
  line-height: 80px;
  position: relative;
}
.top .t_left {
  width: 160px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: 160px;
  z-index: 10;
  box-shadow: 10px 10px 5px #888888;
}
.top .t_left img{
  width: 160px;
}

.top .t_right {
  float: right;
}

.top .t_right a {
  color: #dbfeab;
  display: inline-block;
  margin-right: 45px;
}

.top .t_right a:last-child {
  margin-right: 0
}

.top .t_right a:hover,
a:active {
  color: white;
  text-decoration: none;
}

/* 轮播图 */
.carousel-inner .item img {
  width: 1200px;
  height: 375px;
  contain: initial;
}

.carousel-control {
  background: transparent !important;
}

/* 公司介绍 */
#introduce {
  width: 100%;
  margin-top: 30px;
}

#introduce .intro_left {
  width: 500px;
  overflow: hidden;
}

#introduce .intro_left h3 span {
  padding-bottom: 10px;
  border-bottom: 2px solid #69b513;
}

#introduce .intro_left p {
  margin-top: 30px;
  color: dimgray;
}

#introduce .intro_left .intro_tel {
  margin-top: 70px;
}

#introduce .intro_left .intro_tel span {
  font-size: 30px;
}

#introduce .intro_left .intro_tel a {
  display: inline-block;
  float: right;
  cursor: pointer;
  width: 150px;
  height: 33px;
  border: 1px solid #69b513;
  color: black;
  text-align: center;
  line-height: 32px;
  margin-top: 5px;
}

#introduce .intro_left .intro_tel a:hover {
  background-color: #69b513;
  color: white;
}

/* 右部分 */
#introduce .intro_right {
  width: 650px;
}

#introduce .intro_right li {
  float: left;
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 50px;
  margin-bottom: 25px;
  text-align: center;
}

#introduce .intro_right li:nth-child(2n) {
  margin-right: 0;
}

#introduce .intro_img {
  width: 300px;
  height: 200px;
}

#introduce .intro_img+div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 181, 19, 0.7);
  z-index: 10;
  color: white;
  padding: 20px 20px;
}

#introduce .intro_img+div i {
  font-size: 60px;
}

/* 商品分类 */
#category {
  width: 100%;
  background-image: url('../uploads/category.png');
  color: white;
  overflow: hidden;
}

#category li {
  width: 170px;
  height: 200px;
  float: left;
  margin: 50px 33px 50px 0;
  text-align: center;
}

#category li .cate_box {
  width: 170px;
  height: 170px;
  border: 1px solid dimgray;
  border-radius: 50%;
  font-size: 70px;
  line-height: 170px;
  text-align: center;
  margin-bottom: 10px;
}

#category li .cate_box:hover {
  background-color: rgba(0, 0, 0, 0.1);

}

#category li:last-child {
  margin-right: 0;
}

/* 最新产品 */
#product ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

#product ul li {
  width: 274px;
  height: 280px;
  margin-bottom: 30px;
  color: dimgray;
}

#product ul li:nth-child(4n) {
  margin-right: 0;
}

#product ul li img {
  width: 274px;
  height: 226px;
}

#product ul li p {
  margin: 0;
}

/* 新闻动态 */
#statenews ul li {
  width: 100%;
  height: 85px;
  border-bottom: 1px dotted dimgray;
  padding-right: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

#statenews .news_date {
  width: 68px;
  height: 68px;
  text-align: center;
  float: left;
  background-color: #a8db60;
  color: white;
  margin-right: 20px;
  padding: 15px 0;
}

#statenews .news {
  overflow: hidden;
}

#statenews .news a:hover {
  color: #a8db60;
}

#statenews p {
  /* 显示一行的方法
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all; 
  */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 10px;
}

/* 底部 */
#footer {
  background-color: green;
  overflow: hidden;
  position: relative;
}

#footer>.w>p {
  text-align: center;
  margin: 10px 0;
}

.f_left {
  margin-left: 50px;
}

.f_left .f_tel {
  font-size: 30px;
  margin: 20px 0;
  color: chocolate;
}

.f_content {
  color: aliceblue;
}

.f_right {
  margin-top: 37px;
  margin-right: 70px;
}

.f_right img {
  width: 120px;
}

.f_right p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.f_right .offical_accounts {
  margin-right: 60px;
}

#footer .f_right+h4 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 10px;
}